[submodule "sourcedata/data/HCP_7T_movie_FIX/brain/HCP_7T_movie_FIX"]
	path = sourcedata/data/HCP_7T_movie_FIX/brain/HCP_7T_movie_FIX
	url = /om4/group/gablab/data/HCP_7T_movie
	datalad-id = da8f5f85-de39-4d04-bfe4-047f06d41b27
[submodule "sourcedata/data/HCP_7T_movie_FIX/stimuli/hcp-7T_Movies"]
	path = sourcedata/data/HCP_7T_movie_FIX/stimuli/hcp-7T_Movies
	url = https://github.com/datalad-datasets/hcp-7T_Movies.git
	datalad-id = 4757cbbb-3d98-48a2-a298-9dbf17d9b394
[submodule "sourcedata/data/human-connectome-project-openaccess"]
	path = sourcedata/data/human-connectome-project-openaccess
	url = /om2/user/jsmentch/data/datalad/human-connectome-project-openaccess/
	datalad-id = 2e2a8a70-3eaa-11ea-a9a5-b4969157768c
