[submodule "sourcedata/data/HCP_7T_movie_FIX/brain/HCP_7T_movie_FIX"]
	path = sourcedata/data/HCP_7T_movie_FIX/brain/HCP_7T_movie_FIX
	url = /om4/group/gablab/data/HCP_7T_movie
	datalad-id = da8f5f85-de39-4d04-bfe4-047f06d41b27
[submodule "sourcedata/data/HCP_7T_movie_FIX/stimuli/hcp-7T_Movies"]
	path = sourcedata/data/HCP_7T_movie_FIX/stimuli/hcp-7T_Movies
	url = https://github.com/datalad-datasets/hcp-7T_Movies.git
	datalad-id = 4757cbbb-3d98-48a2-a298-9dbf17d9b394
[submodule "sourcedata/data/merlin/brain/merlin_cifti_clean_smooth"]
	path = sourcedata/data/merlin/brain/merlin_cifti_clean_smooth
	url = /om4/group/gablab/data/jsmentch/merlin/merlin_cifti_clean_smooth
	datalad-id = 0fb34333-4140-42c3-b96a-e2b992f0cdfb
[submodule "sourcedata/data/budapest/brain/ds003017"]
	path = sourcedata/data/budapest/brain/ds003017
	url = https://github.com/OpenNeuroDatasets/ds003017.git
	datalad-id = 322f5aac-c52c-11ea-8255-96be0168836a
[submodule "sourcedata/data/HBN/stimuli/hbn_stimuli"]
	path = sourcedata/data/HBN/stimuli/hbn_stimuli
	url = /om4/group/gablab/data/jsmentch/hbn_stimuli
	datalad-id = 4c6b39ef-4a69-4309-aee1-f92ccf413063
[submodule "sourcedata/data/budapest/stimuli/budapest_stimuli"]
	path = sourcedata/data/budapest/stimuli/budapest_stimuli
	url = /om4/group/gablab/data/jsmentch/budapest_stimuli
	datalad-id = 08fb73a1-573a-4af6-8bb0-5ac6bb4609f6
[submodule "sourcedata/data/human-connectome-project-openaccess"]
	path = sourcedata/data/human-connectome-project-openaccess
	url = https://github.com/datalad-datasets/human-connectome-project-openaccess
	datalad-id = 2e2a8a70-3eaa-11ea-a9a5-b4969157768c
[submodule "sourcedata/data/cneuromod/friends.stimuli"]
	path = sourcedata/data/cneuromod/friends.stimuli
	url = /nese/mit/group/sig/projects/cneuromod/cneuromod/friends/stimuli
	datalad-id = bbbf34b9-31aa-4e35-b1ed-36525c6d7ce3
[submodule "sourcedata/data/cneuromod/brain"]
	path = sourcedata/data/cneuromod/brain
	url = /nese/mit/group/sig/projects/cneuromod/fmriprep/friends.fmriprep
	datalad-id = cbfd6482-5670-4f39-ba1b-9623f1f460b8
	datalad-url = /nese/mit/group/sig/projects/cneuromod/fmriprep/friends.fmriprep
