[submodule "sourcedata/data/HCP_7T_movie_FIX/brain/HCP_7T_movie_FIX"]
	path = sourcedata/data/HCP_7T_movie_FIX/brain/HCP_7T_movie_FIX
	url = /om4/group/gablab/data/HCP_7T_movie
	datalad-id = da8f5f85-de39-4d04-bfe4-047f06d41b27
[submodule "sourcedata/data/HCP_7T_movie_FIX/stimuli/hcp-7T_Movies"]
	path = sourcedata/data/HCP_7T_movie_FIX/stimuli/hcp-7T_Movies
	url = https://github.com/datalad-datasets/hcp-7T_Movies.git
	datalad-id = 4757cbbb-3d98-48a2-a298-9dbf17d9b394
[submodule "sourcedata/data/merlin/brain/merlin_cifti_clean_smooth"]
	path = sourcedata/data/merlin/brain/merlin_cifti_clean_smooth
	url = /om4/group/gablab/data/jsmentch/merlin/merlin_cifti_clean_smooth
	datalad-id = 0fb34333-4140-42c3-b96a-e2b992f0cdfb
[submodule "sourcedata/data/budapest/brain/ds003017"]
	path = sourcedata/data/budapest/brain/ds003017
	url = https://github.com/OpenNeuroDatasets/ds003017.git
	datalad-id = 322f5aac-c52c-11ea-8255-96be0168836a
[submodule "sourcedata/data/HBN/stimuli/hbn_stimuli"]
	path = sourcedata/data/HBN/stimuli/hbn_stimuli
	url = /om4/group/gablab/data/jsmentch/hbn_stimuli
	datalad-id = 4c6b39ef-4a69-4309-aee1-f92ccf413063
[submodule "sourcedata/data/budapest/stimuli/budapest_stimuli"]
	path = sourcedata/data/budapest/stimuli/budapest_stimuli
	url = /om4/group/gablab/data/jsmentch/budapest_stimuli
	datalad-id = 08fb73a1-573a-4af6-8bb0-5ac6bb4609f6
[submodule "test_dataset"]
	path = test_dataset
	url = ./test_dataset
	datalad-id = 5baa5b6f-c1a4-42ec-8df8-2d2fd947cf28
